.character-container {
  .character-header {
    position: relative;
    @include responsive-padding(1rem, 1rem); 
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $gray-100;

    height: 10rem;

    .character-header-content {
      display: flex;
      width: 100%;
      height: 100%;
      // align-self: flex-start;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      gap:  0.75rem;
      padding-right: 0.5rem;

      svg {
        cursor: pointer;
      }
    }

    .back-button {
      padding: 0.25rem 0.5rem;
      background-color: $gray-300;
      border-radius: 4px;
    }

  }
  
}

.Collapsible {
  position: relative;

  .open-close-character-header {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    z-index: 5;
    color: $gray-600;
  }
}