.character-container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 4.5rem);
  padding-bottom: 8.5rem;
  background: rgb(17,24,39);
  background: linear-gradient(0deg, $gray-900 0%, $gray-700 50%, $gray-500 100%); 

  .character-header {
    position: relative;
    @include responsive-padding(1rem, 1rem); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    background-color: transparent;

    height: 10rem;

    #background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .video-glass {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(124, 228, 120, 0.1);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      z-index: 2;
    }

    .character-header-content {
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 3;
      // align-self: flex-start;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-right: 0.5rem;
      z-index: 3;

      .menu-item-wrapper {
        position: relative;
        display: flex;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 3rem;
          height: 3rem;
          border-radius: 48%;
          background-color: transparent;
          z-index: -1;
          transition: background-color 0.1s;
        }

        &.selected-menu {
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 3rem;
            height: 3rem;
            border-radius: 48%;
            background-color: rgba(9, 46, 0, 0.603);
            z-index: -1;
            transition: background-color 0.3s;
          }

          svg {
            color: $darkyellow-gurps;
            transition: color 0.3s;
          }
        }

        svg {
          color: $darkgreen-gurps;
          cursor: pointer;
          transition: color 0.1s;
        }
      }
    }

    .back-button {
      padding: 0.25rem 0.5rem;
      background-color: $gray-300;
      border-radius: 4px;
    }

  }
  
}

.Collapsible {
  position: relative;

  .open-close-character-header {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    z-index: 5;
    color: $darkgreen-gurps;
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: $darkyellow-gurps;
    z-index: 4;
  }
}