.char-selector-container {
  @include responsive-padding(2rem, 2rem);

  .new-char-button {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    background-color: $gray-300;
    margin: 0 auto;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    margin-top: 1rem;

    .char-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 18rem;
      height: 5rem;
      transition: background-color 0.3s;
      background-color: $gray-300;
      border-radius: 4px;
      outline: 2px solid transparent;

      .char-face-wrapper {
        height: 100%;

        img {
          height: 100%;
        }
      }

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
      }

      &:hover {
        background-color: $gray-200;
        outline: 2px solid $green-gurps;
        transition: background-color 0.3s, outline 0.3s;
      }

      li {
        width: fit-content;
        cursor: pointer;
      }

      .delete-char-button {
        display: flex;
        max-height: fit-content;
        border-radius: 9999px;
        margin-right: 0.25rem;
      }
    }

  }

}

.new-char-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  // overflow: hidden;

  .new-char-icon-wrapper {
    outline: 2px solid $gray-400;
    border-radius: 8px;
    height: 6rem;
    overflow: hidden;
    cursor: pointer;

    img {
      height: 100%;
    }

  }

  input, select {
    margin-top: 1rem;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid $gray-400;
    text-align: center;
    width: 100%;
    background-color: $gray-100;

    &.disabled  {
      color: $gray-500;
    }

    &:focus-visible {
      outline: 2px solid $green-gurps;
    }

    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    &:nth-child(2) {
      margin-top: 1rem;
    }
  }

  button {
    margin-top: 1.5rem;
    background-color: $gray-300;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}