.skills-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: auto;
  @include responsive-padding(2rem, 2rem);

  .skills-row {
    display: grid;
    grid-template-columns: auto 2.5rem 2.5rem 4.5rem 2.5rem;
    column-gap: 0.25rem;
    width: 100%;

    & + .skills-row {
      margin-top: 0.5rem;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.75rem;
      width: 100%;
      padding: 0 0.25rem;
      border-radius: 4px;
      border: 1px solid $gray-400;
      text-align: center;
      color: $gray-800;
      cursor: default;

      &:first-child {
        min-width: 10rem;
        cursor: pointer;
      }
    }
  }

  #new-skill-button {
    align-self: center;
    margin-top: 1rem;
    background-color: rgb(200, 237, 100);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: rgb(49, 49, 49);
  }
}

.ReactModal__Content {
  .skills-modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}