.character-resume-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0 0.5rem;
  
  .image-wrapper {
    display: flex;
    align-self: center;
    height: fit-content;
    border-radius: 4px;
    width: 4.5rem;
    min-width: 4.5rem;

    box-shadow: 6px 6px 10px #6bb372, -6px -6px 10px #94ffb4;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    gap: 0.25rem;

    .text-row {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-weight: 600;
        font-size: $font-14;
      }

      span {
        font-size: $font-16;
        text-align: center;
      }
    }
  }
}