.character-resume-container {
  display: flex;
  width: 100%;
  
  .image-wrapper {
    display: flex;
    align-self: center;
    height: fit-content;
    border-radius: 4px;

    box-shadow: 6px 6px 10px $gray-400, -6px -6px 10px #ffffff;

    img {
      border-radius: 4px;
    }
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}