.equips-container {
  // display: flex;
  // flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  @include responsive-padding(2rem, 2rem);

  .equips-row {
    display: grid;
    grid-template-columns: auto 3rem 3rem;
    column-gap: 0.25rem;
    width: 100%;
    height: fit-content;

    & + .equips-row {
      margin-top: 0.5rem;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding: 0 0.25rem;
      border-radius: 4px;
      border: 1px solid rgba(243, 178, 14, 0.6);
      text-align: center;
      color: $gray-100;
      cursor: default;

      &#equip-name {
        min-width: 11rem;
        min-height: fit-content;
        cursor: pointer;
      }
    }
  }

  #new-equip-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    background-color: #2d462c;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    outline: 1px solid $yellow-gurps;

    .yellow-span {
      font-weight: 600;
      color: $yellow-gurps;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.75);
    }
  }
}

.ReactModal__Content {
  .equips-modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .equips-modal-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: fit-content;
      align-items: center;
      justify-items: center;

      label {
        font-size: $font-14;
        font-weight: 400;
      }

      input, select, span {
        padding: 0.25rem;
        border-radius: 4px;
        border: 1px solid $gray-400;
        text-align: center;
        width: 100%;
        background-color: $gray-100;
        font-weight: 500;
        font-size: $font-14;
    
        &.disabled  {
          color: $gray-500;
        }
    
        &:focus-visible {
          outline: 2px solid $green-gurps;
        }
      }
  
      .not-editable {
        background-color:rgba(75, 112, 68, 0.25);
        cursor: not-allowed;
      }

      & + .equips-modal-row {
        margin-top: 0.5rem;
      }

    }

    button {
      margin-top: 1.5rem;
      background-color: #2d462cee;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      color: $darkyellow-gurps;
      font-weight: 500;
      margin: 1rem auto 0;
      transition: color 0.1s, background-color 0.1s, font-weight 0.1s;

      &:disabled {
        cursor: not-allowed;
        background-color: #2d462c98;
        color: $gray-700;
        transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
      }
    }

    .buttons-row {
      display: flex;
      justify-content: space-evenly;
      height: fit-content;
      margin-top: 1rem;

      button {
        margin: 0;
      }
    }
  }
}