.equips-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: auto;
  @include responsive-padding(2rem, 2rem);

  .equips-row {
    display: grid;
    grid-template-columns: auto 3rem 3rem;
    column-gap: 0.25rem;
    width: 100%;

    & + .equips-row {
      margin-top: 0.5rem;
    }

    input {
      height: 1.75rem;
      width: 100%;
      padding: 0 0.25rem;
      border-radius: 4px;
      border: 1px solid $gray-400;
      text-align: center;

      &:first-child {
        min-width: 11rem;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-800;
    }
  }
}