.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  @include responsive-padding;

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    #d6-dice {
      width: 2rem;
    }
  }

  .user-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    background-color: $gray-300;
  }

}