.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @media (orientation: portrait) {
      width: auto;
      height: 100vh;
    }

    @media (orientation: landscape) {
      min-width: 100vw;
      min-height: 100vh;
    }
  }

  .hexagon {
    position: relative;
    width: 14rem;
    height: 13rem;
    margin-bottom: 6rem;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(29, 45, 28, 0.75) 10%, rgba(45, 61, 48, 0.75) 50%, rgba(78, 98, 86, 0.75) 100%);
      backdrop-filter: blur(2px);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: 1;
    }

    .title-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: max-content;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;
      z-index: 2;
  
      h2 {
        font-size: $font-32;
        font-family: $font-title;
        font-weight: 700;
        background: -webkit-linear-gradient($lightyellow-gurps, $darkyellow-gurps);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  
      #d6-dice {
        width: 2.5rem;
      }
    }
  }  


  h3 {
    cursor: default;
    color: $yellow-gurps;
    text-shadow: 0px 0px 5px #051600;
  }

  .login-wrapper {
    position: relative;
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    border-radius: 4px;
    border: 0;
    background: rgb(29,45,28);
    background: linear-gradient(0deg, $darkgreen-gurps 10%, #2d3d30 50%, $green-gurps 100%);
    cursor: pointer;

    #google-logo {
      position: absolute;
      left: 0.65rem;
      top: 50%;
      transform: translateY(-50%);
      color: $darkyellow-gurps;
    }

    span {
      font-size: $font-16;
      font-weight: 500;
      color: $darkyellow-gurps;
    }
  }
}