// Color palette
$gray-100: #F2F2F2;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;
$blue-300: #00BFFF;
$blue-600: #0073B7;
$blue-700: #003E64;
$green-400: #77DD77;
$green-600: #00703C;
$orange-500: #FFA07A;


// Media Variables
$tablet-size: "min-width: 510px";
$notebook-size: "min-width: 768px";
$desktop-size: "min-width: 1024px";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  -webkit-tap-highlight-color: transparent; // remove color highlight on tap

  // Remove arrows/spinners from numeric inputs
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    appearance: textfield;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:focus-visible, &:focus-within, &:focus, &:active, &:target {
      border: 0;
      outline: 0;
      background-color: transparent;
    }
  }
}

@mixin responsive-padding($pt: 0, $pb: 0) {
  padding: $pt 0.75rem $pb;

  @media only screen and ($tablet-size) {
    padding: $pt 4rem $pb;
  }
  @media only screen and ($notebook-size) {
    padding: $pt 6rem $pb;
  }
  @media only screen and ($desktop-size) {
    padding: $pt calc(8rem + 10vw) $pb;
  }
}

@import './components/Header/Header';
@import './components/Menu/Menu';
@import './components/Attributes/Attributes';
@import './components/Perks/Perks';
@import './components/Flaws/Flaws';
@import './components/Skills/Skills';
@import './components/Equips/Equips';
@import './components/Login/Login';