.points-resume-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 0.5rem;

  .categories-sum-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .categories-sum-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $font-14;
    }

    .blank-orb-wrapper {
      position: relative;
      // top: 0;
      bottom: 0.25rem;
      display: flex;
      width: fit-content;
      height: fit-content;

      #points-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.75rem;
        text-align: center;
        background-color: transparent;
        border: 0;
        color: $gray-100;
        font-weight: 600;
        font-size: $font-16;
        text-shadow: 3px 3px 4px rgba(0,0,0,0.9);
      }
  
      #remaining-points {
        width: 5rem;
      }
    }

  }

  .points-resume-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // gap: 1rem;

    .input-row {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 6rem;

      .input-wrapper {
        position: relative;
        width: fit-content;

        input {
          width: 3rem;
          height: 1.5rem;
          background-color: $gray-100;
          border: 1px solid $gray-400;
          border-radius: 4px;
          margin-top: 0.25rem;
          padding: 0 0.25rem;
          text-align: center;
        }

        #xp-locker {
          position: absolute;
          bottom: 0;
          right: -1.5rem;
          cursor: pointer;
        }
      }

      label {
        text-align: center;
        font-size: 0.875rem;
      }
  
      

      
    }
  }
}